* {
	background-color: salmon;
	margin-left: .5%;
	margin-top: 0;
}

.wrapper {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 0;
	margin-bottom: 0;
/*	background-color: white;*/
	border-left: 2px ridge grey;
	padding-top: .5%;

}
